label {
    display: block;
    margin-top: 10px;
  }
  
 .card-5{
  background-color: rgb(214, 207, 207);
  font-family: Courier New;
  color: rgb(6, 6, 6);
 }
 .button-1{
  background-color: rgb(229, 240, 242);
  color: black;
 } 
 .card-6{
  background-color: rgb(214, 207, 207);
  font-family: Courier New;
  color: rgb(6, 6, 6);
 }
 .button-2{
  background-color: rgb(229, 240, 242);
  color: black;
 } 
 .card-7{
  font-family: Courier New;
 
 }
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  
  .error-feedback {
    
    color: rgb(232, 13, 13);
  }
  